body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    /*background-color: rgb(236, 236, 236) !important;*/
    background-color: red;
}

.bg-gray{
    background-color: rgb(137, 134, 134);
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none !important;
}
.x-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formated{
    margin: 0px;
    padding: 0px;
}

.text-gray-2{
    color: rgb(164, 164, 164);
}

.text-sm{
    font-size: small;
}
.text-movements{
    color: rgb(143, 143, 143) !important;
    font-size: 14px;
    font-weight: 200;
}
.text-movements-2{
    color: rgb(90, 90, 90) !important;
    font-size: 16px;
    font-weight: 400;
}